/*<a target="_blank" href="https://vecteezy.com">Vector Design by Vecteezy!</a> */

body {
    margin: 0;
    background-image: url(../images/Dye_Tie_Background.jpg);
    opacity: 30%;
}

#currentWord {
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    margin: 5px auto;
    height: 150px;
    width: 100%;
}

.jumbotron { 
    background: darkgrey;
    padding: 15px;
}

.display-4 {
    font-family: 'Monoton', cursive;
}

h5 {
    color: whitesmoke;
    font-family: font-family: 'Montserrat', sans-serif;

}

h4 {
    color: whitesmoke;
    font-family: font-family: 'Montserrat', sans-serif;

}

h3 {
    color: darkblue;
    font-family: font-family: 'Montserrat', sans-serif;

}

h2 {
    color: whitesmoke;
    font-family: font-family: 'Montserrat', sans-serif;

}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: font-family: 'Montserrat', sans-serif;

}

.lead {
    font-family: font-family: 'Montserrat', sans-serif;
    color: darkblue;
    font-size: 40px;
    text-align: center;
}


